$base_font_size: 16px;
@import "functions";
@import "utils";
@import "ekko-lightbox";

//Common Fonts
$primary_font: 'Oswald', sans-serif;
$secondary_font: 'Raleway', sans-serif;

//Common Colors
$common_color_white: white;
$common_color_black: black;
$common_color_gray: #eaeaeb;
$common_color_red: red;
$common_color_red_light: #c7595e;
$common_color_green_light: #4ab848;

//headings Variables
$headings_color: $common_color_black;
$headings_color_underline: $common_color_gray;
$headings_font: $primary_font;
$headings_size_px: 55px;
$headings_size: em($headings_size_px);

$headings_color_altern: $common_color_white;

//Header
$header_background: $common_color_white;
$header_nav_font: $primary_font;
$header_link_color: $common_color_black;
$header_link_color_hover: $common_color_red;


.headings_divider:after {
	content: ' ';
	display: block;
	font-size: em(60px, $headings_size_px);
	font-family: $headings_font;
	font-weight: 300;
	line-height: 0;
	color: $headings_color_underline;
	border-bottom: 3px solid;
	width: 50px;
	margin: em(20px, $headings_size_px) auto 0;
}

.controls-bar {
	bottom: 0;
	left: 50%;
	width: 100px;
	position: absolute;
	margin-left: -50px;
	margin-bottom: 20px;
	a {
		color: $common_color_white;
		background: rgba(0,0,0,0.5);
		padding: 5px 8px;
		display: inline-block;
		text-align: center;
		@include border-radius(40px);
	}
}

.modal-dialog {
	width: 850px;
	margin: 30px auto;
}

.img-responsive {
	margin: 0 auto;
}

.video-wrapper {
	margin-top: 30px;
	li {
		margin-bottom: 30px;
	}
	.caption {
		text-transform: uppercase;
		font-family: $primary_font;
		color: $common_color_black;
		font-weight: bold;
		background: #e7e8ea;
		text-decoration: none;
		padding: 5px;
		.nombre {
			text-transform: none;
			font-weight: normal;
		}
		.linkText {
			text-transform: none;
			font-weight: normal;
			color: $common_color_red;
		}
	}
	p {
		margin: 0;
	}
}

html {
	font-size: $base_font_size;
}

h1 {
	font-size: em(110px);
	font-family: $headings_font;
	color: $headings_color;
}

h2 {
	font-size: $headings_size;
	font-family: $headings_font;
	color: $headings_color;
	margin-top: 20px;
}

h3 {
	font-size: em(55px);
	font-family: $headings_font;
	color: $headings_color;
}

h4 {
	font-size: em(45px);
	font-family: $headings_font;
	color: $headings_color;
}

h5 {
	font-size: em(38px);
	font-family: $headings_font;
	color: $headings_color;
}

.btn {
	@include border-radius(2px, 2px);
	border: 2px solid white;
	font-family: $primary_font;
	text-transform: uppercase;
	padding: 8px 20px;
}
.btn-primary {
	border: 2px solid $common_color_white;
	background: $common_color_black;
	color: $common_color_white;
	&:hover {
		border: 2px solid gray;
		background: $common_color_black;
		color: gray;
	}
}
.btn-success {
	border: 2px solid $common_color_black;
	background: $common_color_green_light;
		color: $common_color_black;
	&:hover {
		border: 2px solid $common_color_white;
		background: $common_color_green_light;
		color: $common_color_white;
	}
}