.section-wrapper {
  padding-top: 65px;
  min-height: 500px;
  h2 {
  	margin-top: 40px;
  }
}

.section-wrapper-white {
	h2,
	h3,
	h4,
	h5,
	p,
	span,
	a {
		color: $headings_color_altern;
	}
}


//Navegacion Principal
#main-nav-bar {
	@include background(image-url('header-bg.jpg') top center);
	@include background-size(cover);
	border: none;
	margin-bottom: 0;
	nav {
		max-height: none;
		div {
			float: right;
		}
		&[aria-expanded=true], &.collapsing {
			li {
				a {
					padding: 5px 10px;
				}
			}
			div {
				float: none;
			}
		}
		li {
			a {
				font-family: $header_nav_font;
				font-weight: bold;
				text-transform: uppercase;
				color: $header_link_color;
				padding: 30px 10px;
			}
			&.active, &:hover {
				a {
					color: $header_link_color_hover;
					background: none;
				}
			}
		}
	}
	.navbar-brand {
		width: 100px;
		height: 100px;
		padding: 0;
	}
}

//Inicio
#inicio, .inicio {
	.add-word {
		// position: absolute;
		// width: 100%;
		// bottom: 0;
		margin-top: 30px;
		background: #1d1f1e;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.instructions {
		color: $common_color_white;
		font-size: em(20px);
		font-weight: 100;
		line-height: 1.2;
		.text-uppercase {
			font-family: $headings_font;
			font-size: em(33px, 20px);
			font-weight: bold;
		}
	}
	.word-input {
		height: 60px;
		@include border-radius(2px, 2px);
		font-size: em(34px);
		text-transform: uppercase;
		font-family: $primary_font;
		font-weight: bold;
		color: $common_color_black;
		margin-top: 10px;
	}
	.word-submit {
		margin-top: 20px;
	}
	.videoLogo {
		img {
			margin: 0 auto;
			max-height: 250px;
		}
		p {
			font-family: $secondary_font;
			font-size: em(60px);
			color: $common_color_white;
		}
	}
}

//Porque Cuestamoras
#porque-cuestamoras {
	min-height: 0;
	.porque-content {
		margin-top: 30px;
	}
	.text-wrapper {
		border-left: 2px solid $common_color_gray;
		font-size: em(18px);
		font-weight: 200;
	}
}

//Como lo hacemos
#como-lo-hacemos{
	min-height: 0;
	.reasons-list {
		li {
			font-size: em(18px);
			margin-bottom: em(30px);
			font-weight: 200;
			display: flex;
			vertical-align: middle;
			margin-bottom: 0;
			min-height: 75px;
			line-height: 1;
			&:nth-child(odd) {
				clear: left;
			}
			span {
				width: 40px;
				min-width: 40px;
				display: block;
				float: left;
				margin-right: 20px;
			}
		}
	}
}

//Agenda del Evento
#agenda {
	position: relative;
	overflow: hidden;
	z-index: 10;
	&:before {
		content: " ";
		@include background(image-url('agenda-background.jpg') center center);
		@include background-size(cover);
		background-attachment: fixed;
		display: block;
		z-index: -10;
		width: 100%;
		height: 110%;
		position: absolute;
		// filter: blur(3px);
		// -webkit-filter: blur(3px);
		top: 0;
	}

	.nav-tabs {
		border: none;
		overflow: hidden;
		a {
			@include border-radius(0);
			color: #3F3F41;
			font-family: $primary_font;
			font-size: em(22px);
			background: rgba(119, 117, 118, 0.7);
			border: none;
			margin-right: 0;
			text-transform: uppercase;
			font-weight: bold;
		}
		li.active {
			a {
				color: $common_color_black;
				background: rgba(140, 138, 139, 0.7);
			}
		}
	}

	.tab-content {
		background: rgba(140, 138, 139, 0.7);
		overflow: hidden;
		margin-bottom: 30px;
	}

	.media-list {
		.media:first-child {
			padding-top: 15px;
		}
	}

	.media-heading {
		text-transform: uppercase;
		font-weight: bold;
		& + p {
			font-weight: 100;
		}
	}

	.event-date {
		span {
			color: $common_color_white;
		}
		color: $common_color_red_light;
	}

	.bottom-link {
		margin-top: 30px;
		margin-bottom: 40px;
	}
}

//Innovo Por, Word Cloud
#innovo-por {
	margin-bottom: 30px;
	.cloud {
		margin-top: 80px;
		margin-bottom: 80px;
		svg {
			margin: 0 auto;
			display: block;
			overflow: visible;
		}
	}
}

//Blog
#blog {
	position: relative;
	overflow: hidden;
	z-index: 10;

	.heading-wrapper {
		margin-bottom: 50px;
	}

	#carousel-twitter {
		&:after {
			content: ' ';
			display: block;
			background: white;
			width: 60px;
			height: 60px;
			position: absolute;
			top: -30px;
			left: 50%;
			@include transform(rotate(45deg));
			margin-left: -30px;
			border: none;
		}
	}

	.carousel{
		padding-top: 45px;
		padding-bottom: 75px;
		overflow: hidden;
		&:before {
			content: " ";
			display: block;
			z-index: -10;
			width: 100%;
			height: 110%;
			position: absolute;
			@include background(image-url('blog-background.jpg'));
			@include background-size(cover);
			background-attachment: fixed;
			// filter: blur(5px);
			// -webkit-filter: blur(5px);
			top: 0;
		}
	}

	.item {
		h5 {
			color: $common_color_white;
			text-transform: uppercase;
			// font-weight: bold;
		}
		p {
			color: $common_color_white;
			font-weight: 100;
			font-size: em(20px);
			line-height: 1.3;
		}

		a {
			color: $common_color_white;
			font-weight: 100;
			font-size: em(20px);
			span {
				color: $common_color_black;
			}	
		}
	}
}

//twitter
#twitter {
	position: relative;
	overflow: hidden;
	z-index: 10;

	.heading-wrapper {
		margin-bottom: 50px;
	}
	
	.carousel{
		padding-top: 45px;
		padding-bottom: 75px;
		overflow: hidden;
		&:before {
			content: " ";
			display: block;
			z-index: -10;
			width: 100%;
			height: 110%;
			position: absolute;
			@include background(image-url('blog-background.jpg'));
			@include background-size(cover);
			background-attachment: fixed;
			// filter: blur(5px);
			// -webkit-filter: blur(5px);
			top: 0;
		}
	}
}

//Musica
#musica-innovadora {
	.play-circle {
		display: block;
		margin: 40px auto;
		width: 180px;
		@include border-radius(100px);
		@include box-shadow(0px 0px 20px -10px black);
		@include transition(all 0.1s ease-in);
		&:hover {
			@include box-shadow(0px 0px 35px -5px black);
		}
		&:active {
			@include box-shadow(0px 0px 20px 0px black);
		}
	}
	.download-cta {
		margin-bottom: 30px
	}

}

//Galleria

#galeria {
	.video-wrapper {
		a {
			overflow: hidden;
			max-height: 120px;
			display: block;
			&:hover {
				@include box-shadow(0px 0px 20px 0px black);
			}
		}
	}
	.pagination {
		margin: 20px auto;
		max-width: 193px;
		border: none;
		display: block;
		font-family: $primary_font;
		font-weight: bold;
		a {
			border: none;
			color: $common_color_black;
		}
		.red-color {
			color: $common_color_red_light;
		}
	}
}

//footer
#footer {
	font-family: $headings_font;
	font-size: em(22px);
	color: #8d969d;
}

.animClass {
	-webkit-transform: translate3d(0, 0, 0);
	/* more specific animation properties here */
}