.section-wrapper {
  padding-top: 30px;
  min-height: 500px;
}

.section-wrapper-white {
	h2,
	h3,
	h4,
	h5,
	p,
	span,
	a {
		color: $headings_color_altern;
	}
}


//Navegacion Principal
#main-nav-bar {
	background: $header_background;
	nav {
		li {
			a {
				font-family: $header_nav_font;
				font-weight: bold;
				text-transform: uppercase;
				color: $header_link_color;
				padding: 15px 10px;
			}
			&.active {
				a {
					color: $header_link_color_hover;
				}
			}
		}
	}
	.navbar-brand {
		font-family: $header_nav_font;
		font-size: em(22px);
		font-weight: bold;
		text-transform: uppercase;
		color: $header_link_color;
	}
}

//Inicio
#inicio {
	.add-word {
		position: absolute;
		width: 100%;
		bottom: 0;
		background: #1d1f1e;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.instructions {
		color: $common_color_white;
		font-size: em(16px);
		.text-uppercase {
			font-family: $headings_font;
			font-size: em(33px, 16px);
		}
	}
	.word-input {
		height: 60px;
		@include border-radius(2px, 2px);
		font-size: em(34px);
		text-transform: uppercase;
		font-family: $primary_font;
		font-weight: bold;
		color: $common_color_black;
	}
	.word-submit {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

//Agenda del Evento
#agenda {
	@include background(image-url('../images/agenda-background.jpg') center center);
	@include background-size(cover);
	background-attachment: fixed;
	// filter: blur(5px);
	// -webkit-filter: blur(5px);

	.nav-tabs {
		border: none;
		overflow: hidden;
		a {
			@include border-radius(0);
			color: #3F3F41;
			font-family: $primary_font;
			font-size: em(22px);
			background: rgba(119, 117, 118, 0.7);
			border: none;
			margin-right: 0;
			text-transform: uppercase;
			font-weight: bold;
		}
		li.active {
			a {
				color: $common_color_black;
				background: rgba(140, 138, 139, 0.7);
			}
		}
	}

	.tab-content {
		background: rgba(140, 138, 139, 0.7);
		overflow: hidden;
		margin-bottom: 30px;
	}

	.media-list {
		.media:first-child {
			padding-top: 15px;
		}
	}

	.media-heading {
		text-transform: uppercase;
		font-weight: bold;
		& + p {
			font-weight: 100;
		}
	}

	.event-date {
		span {
			color: $common_color_white;
		}
		color: $common_color_red_light;
	}

	.bottom-link {
		margin-top: 30px;
		margin-bottom: 40px;
	}
}

//Porque Cuestamoras
#porque-cuestamoras {
	min-height: 0;
}

//Como lo hacemos
#como-lo-hacemos{
	min-height: 0;
	.reasons-list {
		li {
			font-size: em(25px);
			margin-bottom: em(30px);
			vertical-align: top;
			&:before {
				@extend .circle;
			}
		}
	}
}

//Innovo Por, Word Cloud
#innovo-por {
	margin-bottom: 30px;
	.cloud {
		margin-top: 80px;
		margin-bottom: 80px;
		svg {
			margin: 0 auto;
			display: block;
			overflow: visible;
		}
	}
}