.video-section .pattern-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 110px 0 32px;
  min-height: 550px;
  @include box-shadow(inset black 0px 0px 140px 20px);
}
.video-section h1, .video-section h3{
  text-align:center;
  color:#fff;
}
.video-section h1{
  font-family: $headings_font;
  font-weight: 300;
  font-weight: bold;
  text-transform: uppercase;
  margin: 70px auto 0px;
}
.video-section h3{
  font-size: 25px;
  font-weight:lighter;
  margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}