@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

@import "fonts";
@import "base";
@import "video-bg";
@import "sections";
// endbower

body {
	padding-top: 50px;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  overflow: hidden;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
