<div class="container">
	<h2 class="text-center text-uppercase headings_divider">Agenda del Evento</h2>
	<div class="col-md-8 col-md-offset-2">
		<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
	</div>
	<div class="tabs-component col-md-10 col-md-push-1">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#dia1" role="tab" data-toggle="tab">D&iacute;a 1</a></li>
			<li role="presentation"><a href="#dia2" role="tab" data-toggle="tab">D&iacute;a 2</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="dia1">
				<ul class="media-list">
					<li class="media col-xs-12 col-sm-6">
						<a class="media-left col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-0" href="#">
							<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
						</a>
						<div class="media-body col-xs-12 col-sm-7">
							<h5 class="media-heading">Media heading</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<p class="event-date"><span class="glyphicon glyphicon-play"></span>Lorem ipsum dolor sit amet</p>
						</div>
					</li>
					<li class="media col-xs-12 col-sm-6">
						<a class="media-left col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-0" href="#">
							<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
						</a>
						<div class="media-body col-xs-12 col-sm-7">
							<h5 class="media-heading">Media heading</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<p class="event-date"><span class="glyphicon glyphicon-play"></span>Lorem ipsum dolor sit amet</p>
						</div>
					</li>
					<li class="media col-xs-12 col-sm-6">
						<a class="media-left col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-0" href="#">
							<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
						</a>
						<div class="media-body col-xs-12 col-sm-7">
							<h5 class="media-heading">Media heading</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<p class="event-date"><span class="glyphicon glyphicon-play"></span>Lorem ipsum dolor sit amet</p>
						</div>
					</li>
					<li class="media col-xs-12 col-sm-6">
						<a class="media-left col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-0" href="#">
							<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
						</a>
						<div class="media-body col-xs-12 col-sm-7">
							<h5 class="media-heading">Media heading</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<p class="event-date"><span class="glyphicon glyphicon-play"></span>Lorem ipsum dolor sit amet</p>
						</div>
					</li>
					<li class="media col-xs-12 col-sm-6">
						<a class="media-left col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-0" href="#">
							<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
						</a>
						<div class="media-body col-xs-12 col-sm-7">
							<h5 class="media-heading">Media heading</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<p class="event-date"><span class="glyphicon glyphicon-play"></span>Lorem ipsum dolor sit amet</p>
						</div>
					</li>
					<li class="media col-xs-12 col-sm-6">
						<a class="media-left col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-0" href="#">
							<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
						</a>
						<div class="media-body col-xs-12 col-sm-7">
							<h5 class="media-heading">Media heading</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<p class="event-date"><span class="glyphicon glyphicon-play"></span>Lorem ipsum dolor sit amet</p>
						</div>
					</li>
				</ul>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="dia2">
				<ul class="media-list">
					<li class="media col-xs-12 col-sm-6">
						<a class="media-left col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-0" href="#">
							<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
						</a>
						<div class="media-body col-xs-12 col-sm-7">
							<h5 class="media-heading">Media heading</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<p class="event-date"><span class="glyphicon glyphicon-play"></span>Lorem ipsum dolor sit amet</p>
						</div>
					</li>
					<li class="media col-xs-12 col-sm-6">
						<a class="media-left col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-0" href="#">
							<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
						</a>
						<div class="media-body col-xs-12 col-sm-7">
							<h5 class="media-heading">Media heading</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<p class="event-date"><span class="glyphicon glyphicon-play"></span>Lorem ipsum dolor sit amet</p>
						</div>
					</li>
					<li class="media col-xs-12 col-sm-6">
						<a class="media-left col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-0" href="#">
							<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
						</a>
						<div class="media-body col-xs-12 col-sm-7">
							<h5 class="media-heading">Media heading</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<p class="event-date"><span class="glyphicon glyphicon-play"></span>Lorem ipsum dolor sit amet</p>
						</div>
					</li>
					<li class="media col-xs-12 col-sm-6">
						<a class="media-left col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-0" href="#">
							<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
						</a>
						<div class="media-body col-xs-12 col-sm-7">
							<h5 class="media-heading">Media heading</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<p class="event-date"><span class="glyphicon glyphicon-play"></span>Lorem ipsum dolor sit amet</p>
						</div>
					</li>
					<li class="media col-xs-12 col-sm-6">
						<a class="media-left col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-0" href="#">
							<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
						</a>
						<div class="media-body col-xs-12 col-sm-7">
							<h5 class="media-heading">Media heading</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<p class="event-date"><span class="glyphicon glyphicon-play"></span>Lorem ipsum dolor sit amet</p>
						</div>
					</li>
					<li class="media col-xs-12 col-sm-6">
						<a class="media-left col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-0" href="#">
							<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
						</a>
						<div class="media-body col-xs-12 col-sm-7">
							<h5 class="media-heading">Media heading</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<p class="event-date"><span class="glyphicon glyphicon-play"></span>Lorem ipsum dolor sit amet</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<a href=""><h2 class="text-center text-uppercase bottom-link">Descargar Programa Detallado</h2></a>
	</div>
</div>