<h2 class="text-center text-uppercase">Agenda del Evento</h2>
<div class="col-md-10 col-md-offset-1">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#dia1" role="tab" data-toggle="tab">D&iacute;a 1</a></li>
		<li role="presentation"><a href="#dia2" role="tab" data-toggle="tab">D&iacute;a 2</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="dia1">
			<ul class="media-list">
				<li class="media col-md-6">
					<a class="media-left" href="#">
						<img src="http://lorempixel.com/output/people-q-c-163-163-1.jpg" alt="An image">
					</a>
					<div class="media-body">
						<h4 class="media-heading">Media heading</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
						<p><span class="glyphicon glyphicon-play"></span>Lorem ipsum dolor sit amet</p>
					</div>
				</li>
			</ul>
		</div>
		<div role="tabpanel" class="tab-pane" id="dia2">
			<ul class="row list-unstyled">
				<li class="col-md-6">Lorem Ipsum is simply dummy text</li>
				<li class="col-md-6">Lorem Ipsum is simply dummy text</li>
				<li class="col-md-6">Lorem Ipsum is simply dummy text</li>
				<li class="col-md-6">Lorem Ipsum is simply dummy text</li>
				<li class="col-md-6">Lorem Ipsum is simply dummy text</li>
				<li class="col-md-6">Lorem Ipsum is simply dummy text</li>
			</ul>
		</div>
	</div>
</div>