<div class="container">
	<h2 class="text-center text-uppercase">Blog</h2>
	<div class="col-md-8 col-md-offset-2">
		<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
	</div>
</div>

<div id="carousel-blog" class="carousel slide" data-ride="carousel">
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="item media col-md-6 col-md-offset-3">
				<a class="media-left" href="#">
					<img src="http://lorempixel.com/output/people-q-c-163-163-1.jpg" alt="An image">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					<a href="#/"><span class="glyphicon glyphicon-play"></span>Leer M&aacute;s</a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-6 col-md-offset-3">
				<a class="media-left" href="#">
					<img src="http://lorempixel.com/output/people-q-c-163-163-1.jpg" alt="An image">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					<a href="#/"><span class="glyphicon glyphicon-play"></span>Leer M&aacute;s</a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-6 col-md-offset-3">
				<a class="media-left" href="#">
					<img src="http://lorempixel.com/output/people-q-c-163-163-1.jpg" alt="An image">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					<a href="#/"><span class="glyphicon glyphicon-play"></span>Leer M&aacute;s</a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-6 col-md-offset-3">
				<a class="media-left" href="#">
					<img src="http://lorempixel.com/output/people-q-c-163-163-1.jpg" alt="An image">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					<a href="#/"><span class="glyphicon glyphicon-play"></span>Leer M&aacute;s</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<div class="col-xs-2 col-xs-offset-5">
		<a class="pull-left carousel-control" href="#carousel-blog" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
	</div>
	<div class="col-xs-2">
		<a class="pull-right carousel-control" href="#carousel-blog" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>