<div class="container heading-wrapper">
	<h2 class="text-center text-uppercase headings_divider">Blog</h2>
	<div class="col-md-8 col-md-offset-2">
		<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
	</div>
</div>

<div id="carousel-blog" class="carousel slide" data-ride="carousel">
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="item media col-md-8 col-md-offset-2">
				<a class="media-left col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-1" href="#">
					<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
				</a>
				<div class="media-body col-xs-12 col-sm-7">
					<h5 class="media-heading">Nombre</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
					<a class="pull-right" href="#/"><span class="glyphicon glyphicon-play"></span> Leer M&aacute;s</a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-8 col-md-offset-2">
				<a class="media-left col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-1" href="#">
					<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
				</a>
				<div class="media-body col-xs-12 col-sm-7">
					<h5 class="media-heading">Nombre</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
					<a class="pull-right" href="#/"><span class="glyphicon glyphicon-play"></span> Leer M&aacute;s</a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-8 col-md-offset-2">
				<a class="media-left col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-1" href="#">
					<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
				</a>
				<div class="media-body col-xs-12 col-sm-7">
					<h5 class="media-heading">Nombre</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
					<a class="pull-right" href="#/"><span class="glyphicon glyphicon-play"></span> Leer M&aacute;s</a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-8 col-md-offset-2">
				<a class="media-left col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-1" href="#">
					<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
				</a>
				<div class="media-body col-xs-12 col-sm-7">
					<h5 class="media-heading">Nombre</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
					<a class="pull-right" href="#/"><span class="glyphicon glyphicon-play"></span> Leer M&aacute;s</a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-8 col-md-offset-2">
				<a class="media-left col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-1" href="#">
					<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
				</a>
				<div class="media-body col-xs-12 col-sm-7">
					<h5 class="media-heading">Nombre</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
					<a class="pull-right" href="#/"><span class="glyphicon glyphicon-play"></span> Leer M&aacute;s</a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-8 col-md-offset-2">
				<a class="media-left col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-1" href="#">
					<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
				</a>
				<div class="media-body col-xs-12 col-sm-7">
					<h5 class="media-heading">Nombre</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
					<a class="pull-right" href="#/"><span class="glyphicon glyphicon-play"></span> Leer M&aacute;s</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<div class="controls-bar row">
		<div class="controls-wrapper">
			<a class="" href="#carousel-blog" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="pull-right" href="#carousel-blog" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</div>
</div>

<div class="container heading-wrapper">
	<h2 class="text-center text-uppercase headings_divider">Lo que dicen en Twitter</h2>
	<div class="col-md-8 col-md-offset-2">
		<p class="text-center">Lorem ipsum dolor sit amet</p>
	</div>
</div>

<div id="carousel-twitter" class="carousel slide" data-ride="carousel">
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="item media col-md-8 col-md-offset-2">
				<h5 class="twit text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</h5>
				<p class="disclaimer text-center">Lorem ipsum dolor sit amet</p>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-8 col-md-offset-2">
				<h5 class="twit text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</h5>
				<p class="disclaimer text-center">Lorem ipsum dolor sit amet</p>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-8 col-md-offset-2">
				<h5 class="twit text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</h5>
				<p class="disclaimer text-center">Lorem ipsum dolor sit amet</p>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-8 col-md-offset-2">
				<h5 class="twit text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</h5>
				<p class="disclaimer text-center">Lorem ipsum dolor sit amet</p>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-8 col-md-offset-2">
				<h5 class="twit text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</h5>
				<p class="disclaimer text-center">Lorem ipsum dolor sit amet</p>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-8 col-md-offset-2">
				<h5 class="twit text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</h5>
				<p class="disclaimer text-center">Lorem ipsum dolor sit amet</p>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-8 col-md-offset-2">
				<h5 class="twit text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</h5>
				<p class="disclaimer text-center">Lorem ipsum dolor sit amet</p>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<div class="row controls-bar">
		<a class="" href="#carousel-twitter" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="pull-right" href="#carousel-twitter" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>