<div class="container heading-wrapper">
	<h2 class="text-center text-uppercase headings_divider">Blog</h2>
	<div class="col-md-8 col-md-offset-2">
		<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
	</div>
</div>

<div id="carousel-blog" class="carousel slide" data-ride="carousel">
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="item media col-md-6 col-md-offset-3">
				<a class="media-left col-md-5" href="#">
					<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
				</a>
				<div class="media-body col-md-7">
					<h5 class="media-heading">Media heading</h5>
					<p>Inserting a gerbil into my hot pocket got me spraying beige slime faster than greased shit off a shiny shovel. Within no time, I could feel the shitty cock snot draining from my rusty bullet hole and all over my panty hamster. With his tallywacker hammering deep into my stench trench, the sensation of his greasy kebab skewer smashing my cervix made me quiver like.</p>
					<a class="pull-right" href="#/"><span class="glyphicon glyphicon-play"></span>Leer M&aacute;s</a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-6 col-md-offset-3">
				<a class="media-left col-md-5" href="#">
					<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
				</a>
				<div class="media-body col-md-7">
					<h5 class="media-heading">Media heading</h5>
					<p>Inserting a gerbil into my hot pocket got me spraying beige slime faster than greased shit off a shiny shovel. Within no time, I could feel the shitty cock snot draining from my rusty bullet hole and all over my panty hamster. With his tallywacker hammering deep into my stench trench, the sensation of his greasy kebab skewer smashing my cervix made me quiver like.</p>
					<a class="pull-right" href="#/"><span class="glyphicon glyphicon-play"></span>Leer M&aacute;s</a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-6 col-md-offset-3">
				<a class="media-left col-md-5" href="#">
					<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
				</a>
				<div class="media-body col-md-7">
					<h5 class="media-heading">Media heading</h5>
					<p>Inserting a gerbil into my hot pocket got me spraying beige slime faster than greased shit off a shiny shovel. Within no time, I could feel the shitty cock snot draining from my rusty bullet hole and all over my panty hamster. With his tallywacker hammering deep into my stench trench, the sensation of his greasy kebab skewer smashing my cervix made me quiver like.</p>
					<a class="pull-right" href="#/"><span class="glyphicon glyphicon-play"></span>Leer M&aacute;s</a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-6 col-md-offset-3">
				<a class="media-left col-md-5" href="#">
					<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
				</a>
				<div class="media-body col-md-7">
					<h5 class="media-heading">Media heading</h5>
					<p>Inserting a gerbil into my hot pocket got me spraying beige slime faster than greased shit off a shiny shovel. Within no time, I could feel the shitty cock snot draining from my rusty bullet hole and all over my panty hamster. With his tallywacker hammering deep into my stench trench, the sensation of his greasy kebab skewer smashing my cervix made me quiver like.</p>
					<a class="pull-right" href="#/"><span class="glyphicon glyphicon-play"></span>Leer M&aacute;s</a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-6 col-md-offset-3">
				<a class="media-left col-md-5" href="#">
					<img class="img-responsive" src="images/girl-face.jpg" alt="An image">
				</a>
				<div class="media-body col-md-7">
					<h5 class="media-heading">Media heading</h5>
					<p>Inserting a gerbil into my hot pocket got me spraying beige slime faster than greased shit off a shiny shovel. Within no time, I could feel the shitty cock snot draining from my rusty bullet hole and all over my panty hamster. With his tallywacker hammering deep into my stench trench, the sensation of his greasy kebab skewer smashing my cervix made me quiver like.</p>
					<a class="pull-right" href="#/"><span class="glyphicon glyphicon-play"></span>Leer M&aacute;s</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<div class="controls-bar row">
		<div class="controls-wrapper">
			<a class="" href="#carousel-blog" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="pull-right" href="#carousel-blog" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</div>
</div>

<div class="container heading-wrapper">
	<h2 class="text-center text-uppercase headings_divider">Lo que dicen en Twitter</h2>
	<div class="col-md-8 col-md-offset-2">
		<p class="text-center">Lorem ipsum dolor sit amet</p>
	</div>
</div>

<div id="carousel-twitter" class="carousel slide" data-ride="carousel">
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="item media col-md-8 col-md-offset-2">
				<h5 class="twit text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</h5>
				<p class="disclaimer text-center">Lorem ipsum dolor sit amet</p>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-8 col-md-offset-2">
				<h5 class="twit text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</h5>
				<p class="disclaimer text-center">Lorem ipsum dolor sit amet</p>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-8 col-md-offset-2">
				<h5 class="twit text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</h5>
				<p class="disclaimer text-center">Lorem ipsum dolor sit amet</p>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-8 col-md-offset-2">
				<h5 class="twit text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</h5>
				<p class="disclaimer text-center">Lorem ipsum dolor sit amet</p>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-8 col-md-offset-2">
				<h5 class="twit text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</h5>
				<p class="disclaimer text-center">Lorem ipsum dolor sit amet</p>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-8 col-md-offset-2">
				<h5 class="twit text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</h5>
				<p class="disclaimer text-center">Lorem ipsum dolor sit amet</p>
			</div>
		</div>
		<div class="item">
			<div class="item media col-md-8 col-md-offset-2">
				<h5 class="twit text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</h5>
				<p class="disclaimer text-center">Lorem ipsum dolor sit amet</p>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<div class="row controls-bar">
		<a class="" href="#carousel-twitter" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="pull-right" href="#carousel-twitter" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>