<h2 class="text-center text-uppercase headings_divider">¿Com&oacute; lo hacemos?</h2>
<div class="col-md-8 col-md-offset-2">
	<ul class="row list-unstyled reasons-list">
		<li class="col-md-5"><span><img class="img-responsive" src="images/icons/ic1.png" alt="Bullet de como lo hacemos"></span>Innovar incesantemente para generar buenas oportunidades para todos</li>
		<li class="col-md-4 col-md-offset-2"><span><img class="img-responsive" src="images/icons/ic2.png" alt="Bullet de como lo hacemos"></span>Aprendiendo humildad intelectual</li>
		<li class="col-md-5"><span><img class="img-responsive" src="images/icons/ic3.png" alt="Bullet de como lo hacemos"></span>Abriendo brechas</li>
		<li class="col-md-4 col-md-offset-2"><span><img class="img-responsive" src="images/icons/ic4.png" alt="Bullet de como lo hacemos"></span>Haciendo lo correcto</li>
		<li class="col-md-5"><span><img class="img-responsive" src="images/icons/ic5.png" alt="Bullet de como lo hacemos"></span>Abrazando el cambio</li>
		<li class="col-md-4 col-md-offset-2"><span><img class="img-responsive" src="images/icons/ic6.png" alt="Bullet de como lo hacemos"></span>Condiando en las personas</li>
		<li class="col-md-5"><span><img class="img-responsive" src="images/icons/ic7.png" alt="Bullet de como lo hacemos"></span>Construyendo de una estrategia</li>
		<li class="col-md-4 col-md-offset-2"><span><img class="img-responsive" src="images/icons/ic8.png" alt="Bullet de como lo hacemos"></span>Haciendo un excelente negocio para todos</li>
	</ul>
</div>