<h2 class="text-center text-uppercase headings_divider">Galer&iacute;a</h2>
<div class="col-md-8 col-md-offset-2">
	<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
</div>
<div class="row">
	<ul class="col-md-8 col-md-offset-2 video-wrapper">
		<li class="col-md-4" ng-repeat="picture in pictures | limitTo:9">
			<a href="{{picture.source}}" data-toggle="lightbox" data-gallery="galleryModal" data-title="">
				<img class="img-responsive" src="{{picture.source}}">
			</a>
		</li>
	</ul>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<ul class="pagination pagination-sm">
			<li><a class="red-color" href="#">&#60;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a class="red-color" href="#">&#62;</a></li>
		</ul>
	</div>
</div>

<!-- <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
<pagination direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"></pagination>
<pagination direction-links="false" total-items="totalItems" ng-model="currentPage" num-pages="smallnumPages"></pagination>
<pre>The selected page no: {{currentPage}}</pre>
<button class="btn btn-info" ng-click="setPage(3)">Set current page to: 3</button>

<hr />
<h4>Pager</h4>
<pager total-items="totalItems" ng-model="currentPage"></pager>

<hr />
<h4>Limit the maximum visible buttons</h4>
<pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
<pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
<pre>Page: {{bigCurrentPage}} / {{numPages}}</pre> -->