<h2 class="text-center text-uppercase headings_divider">El porqu&eacute; de cuestamoras</h2>
<div class="row porque-content">
	<div class="col-md-4 col-md-offset-1">
		<div class="row">
			<img class="col-md-9 col-md-offset-2 col-xs-6 col-xs-offset-3" src="images/cuestamoras-innovopor-logo-big.png" alt="Una imagen del logo de Cuestamoras">
		</div>
	</div>
	<div class="col-md-5 text-wrapper">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
	</div>
</div>