<h2 class="text-center text-uppercase headings_divider">El porqu&eacute; de cuestamoras</h2>
<div class="row">
	<div class="col-md-4 col-md-offset-1">
		<div class="row">
			<img class="col-md-10 col-md-offset-1 col-xs-6 col-xs-offset-3" src="images/cuestamoras-innovopor-logo-big.png" alt="Una imagen del logo de Cuestamoras">
		</div>
	</div>
	<div class="col-md-6">
		<p>Bacon ipsum dolor amet ham hock corned beef meatloaf andouille boudin. Beef ribs pork loin jerky, boudin pork chop cow biltong pastrami shoulder chuck. Brisket boudin chuck porchetta capicola short loin. Tenderloin prosciutto ground round tail strip steak spare ribs turducken venison jowl kevin boudin filet mignon.</p>
		<p>Bacon ipsum dolor amet ham hock corned beef meatloaf andouille boudin. Beef ribs pork loin jerky, boudin pork chop cow biltong pastrami shoulder chuck. Brisket boudin chuck porchetta capicola short loin. Tenderloin prosciutto ground round tail strip steak spare ribs turducken venison jowl kevin boudin filet mignon.</p>
	</div>
</div>